################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#.vs
**/AppBookTrading/.vs
**/BookStoreServices/.vs

#bin
**/AppBookTrading/AppBookTrading/bin
**/BookStoreServices/BookStoreServices/bin

#obj
**/AppBookTrading/AppBookTrading/obj
**/BookStoreServices/BookStoreServices/obj