USE [master]
GO
/****** Object:  Database [onlinebookstore]    Script Date: 8/13/2020 12:32:40 PM ******/
CREATE DATABASE [onlinebookstore]
GO
Use [onlinebookstore]
GO
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nvarchar](100) NOT NULL,
	[MASP] [nvarchar](100) NOT NULL,
	[SOLUONGMUA] [int] NULL,
	[DONGIABAN] [float] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_CHITIETHOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 8/13/2020 12:32:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [nvarchar](100) NOT NULL,
	[TENCV] [nvarchar](50) NOT NULL
)

GO
/****** Object:  Table [dbo].[CT_PHIEUDOITRA]    Script Date: 8/13/2020 12:32:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDOITRA](
	[MASP] [nvarchar](100) NOT NULL,
	[MAPHIEUDOI] [nvarchar](100) NOT NULL,
	[MAHD] [nvarchar](100) NOT NULL,
	[SL] [int] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUDOITRA] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAPHIEUDOI] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPSACH]    Script Date: 8/13/2020 12:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPSACH](
	[MASACH] [nvarchar](100) NOT NULL,
	[MAPHIEU] [nvarchar](100) NOT NULL,
	[SLNHAP] [int] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CT_PHIEUNHAPSACH_1] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/13/2020 12:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](100) NOT NULL,
	[MAKH] [nvarchar](100) NULL,
	[NGAYLAPHD] [datetime] NULL,
	[THANHTIEN] [float] NULL,
	[TRANGTHAI] [nvarchar](100) NULL,
 CONSTRAINT [PK_HOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/13/2020 12:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](100) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[SODT] [varchar](11) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[MatKhauDN] [nchar](12) NOT NULL
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 8/13/2020 12:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALS] [nvarchar](100) NOT NULL,
	[TENLS] [nvarchar](50) NOT NULL
)

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 8/13/2020 12:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](100) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[SDT] [nchar](10) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/13/2020 12:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](100) NOT NULL,
	[MACV] [nvarchar](100) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [bit] NULL,
	[SODIENTHOAINV] [varchar](11) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[CMND] [nchar](12) NULL,
	[NGAYSINH] [date] NULL
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 8/13/2020 12:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [nvarchar](100) NOT NULL,
	[TENNXB] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL
)

GO
/****** Object:  Table [dbo].[PHIEUDOITRA]    Script Date: 8/13/2020 12:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDOITRA](
	[MAPHIEUDOI] [nvarchar](100) NOT NULL,
	[NGAYLAPPHIEU] [datetime] NOT NULL,
	[MANV] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PHIEUDOITRA] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[PHIEUNHAPSACH]    Script Date: 8/13/2020 12:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPSACH](
	[MAPHIEU] [nvarchar](100) NOT NULL,
	[MANV] [nvarchar](100) NULL,
	[NGAYNHAP] [datetime] NULL,
	[THANHTIENPHIEUNHAP] [float] NULL,
	[MANCC] [nvarchar](100) NULL
)

GO
/****** Object:  Table [dbo].[QL_NguoiDung]    Script Date: 8/13/2020 12:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NguoiDung](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoatDong] [bit] NULL,
	[MANV] [nvarchar](100) NOT NULL,
	[Quyen] [int] NULL,
 CONSTRAINT [PK_QL_NguoiDung_1] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 8/13/2020 12:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [nvarchar](100) NOT NULL,
	[MANXB] [nvarchar](100) NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[TACGIA] [nvarchar](50) NOT NULL,
	[THELOAI] [nvarchar](100) NOT NULL,
	[GIABANSACH] [float] NULL,
	[GIANHAPSACH] [float] NULL,
	[SLTON] [int] NULL,
	[IMG] [nvarchar](500) NULL,
	[LOAIBIA] [nvarchar](50) NULL,
	[KICHTHUOC] [nvarchar](50) NULL,
	[NGAYXUATBAN] [datetime] NULL,
	[SOTRANG] [int] NULL,
	[TRANGTHAI] [nvarchar](100) NULL
)
GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONGMUA], [DONGIABAN], [TONGTIEN]) VALUES (N'02597d1d-90c4-40b3-a29f-e67bfe9e52c3', N'S0037     ', 1, 30000, 30000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONGMUA], [DONGIABAN], [TONGTIEN]) VALUES (N'03f5f9d0-9870-48e2-8327-ebc2c4f4de2a', N'S0001     ', 1, 100000, 100000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONGMUA], [DONGIABAN], [TONGTIEN]) VALUES (N'251c11ed-3883-40e3-afda-0bc37e56457f', N'S0002     ', 1, 10000, 10000)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV01      ', N'Thu ngân')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV02      ', N'Thủ kho')
INSERT [dbo].[CT_PHIEUNHAPSACH] ([MASACH], [MAPHIEU], [SLNHAP], [THANHTIEN]) VALUES (N'S0001     ', N'63dc759b-b640-451a-ad26-44ef0d22ad2c', 5, 0)
INSERT [dbo].[CT_PHIEUNHAPSACH] ([MASACH], [MAPHIEU], [SLNHAP], [THANHTIEN]) VALUES (N'S0005     ', N'63dc759b-b640-451a-ad26-44ef0d22ad2c', 5, 0)
INSERT [dbo].[CT_PHIEUNHAPSACH] ([MASACH], [MAPHIEU], [SLNHAP], [THANHTIEN]) VALUES (N'S0006     ', N'PN00001   ', 100, 50000)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [NGAYLAPHD], [THANHTIEN], [TRANGTHAI]) VALUES (N'02597d1d-90c4-40b3-a29f-e67bfe9e52c3', N'e2347457-d26c-4ef2-a381-76d48136684d', CAST(N'2020-08-07 10:14:32.000' AS DateTime), 30000, N'Tạm Giữ')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [NGAYLAPHD], [THANHTIEN], [TRANGTHAI]) VALUES (N'03f5f9d0-9870-48e2-8327-ebc2c4f4de2a', N'caa2a061-eb37-45a4-9da1-b6754d6d797c', CAST(N'2020-08-09 22:41:58.000' AS DateTime), 100, N'Tạm Giữ')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [NGAYLAPHD], [THANHTIEN], [TRANGTHAI]) VALUES (N'251c11ed-3883-40e3-afda-0bc37e56457f', N'caa2a061-eb37-45a4-9da1-b6754d6d797c', CAST(N'2020-08-09 22:35:47.000' AS DateTime), 10, N'Tạm Giữ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SODT], [DIACHI], [GIOITINH], [MatKhauDN]) VALUES (N'KH001', N'Trần Nguyên Chương', N'12231321', N'TPHCM                                             ', 1, N'2414152125  ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SODT], [DIACHI], [GIOITINH], [MatKhauDN]) VALUES (N'KH002     ', N'Phạm Minh Dũng', N'13143292', N'TPHCM', 1, N'5125125125  ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SODT], [DIACHI], [GIOITINH], [MatKhauDN]) VALUES (N'KH003     ', N'Trần Minh Tiến', N'31423653', N'TPHCM', 1, N'124241242   ')
INSERT [dbo].[LOAISACH] ([MALS], [TENLS]) VALUES (N'LS01      ', N'Sách thiếu nhi')
INSERT [dbo].[LOAISACH] ([MALS], [TENLS]) VALUES (N'LS02      ', N'Sách giáo khoa')
INSERT [dbo].[LOAISACH] ([MALS], [TENLS]) VALUES (N'LS03      ', N'Sách văn học')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'8a573d86-5f22-4372-8bd2-a3ec3a6b7c90', N'Chương dương', N'153 điện biên phủ', N'0909999999')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'c255ed49-08cf-4325-a447-ca7da7e38118', N'Asanzo', N'bình thạnh', N'0987654321')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'ec17d2fa-c5b6-41f3-9312-ba784758e19f', N'Vinamilk', N'Tân phú', N'0399999579')
INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [HOTEN], [GIOITINH], [SODIENTHOAINV], [DIACHI], [CMND], [NGAYSINH]) VALUES (N'NV01      ', N'CV01      ', N'Trần Quang Lộc', 1, N'142853532', NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [HOTEN], [GIOITINH], [SODIENTHOAINV], [DIACHI], [CMND], [NGAYSINH]) VALUES (N'NV02      ', N'CV01      ', N'Phạm Đang Trường', 0, N'342472899', NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [HOTEN], [GIOITINH], [SODIENTHOAINV], [DIACHI], [CMND], [NGAYSINH]) VALUES (N'NV03      ', N'CV02      ', N'Lê Hồng Minh', 1, N'12312312', NULL, NULL, NULL)
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (N'NXB00001    ', N'Nhà xuất bản Tp. Hồ Chí Minh', N'24242452', N'0797979277')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (N'NXB00002    ', N'Nhà xuất bản Phụ Nữ', N'39 Hàng Chuối, Quận Hai Bà Trưng, Thành Phố Hà Nội', N'0797979277')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (N'NXB00003    ', N'Nhà xuất bản Kim Đồng', N'22 Hàng Chuối, Quận Hai Bà Trưng, Thành Phố Hà Nội', N'0797979277')
INSERT [dbo].[PHIEUNHAPSACH] ([MAPHIEU], [MANV], [NGAYNHAP], [THANHTIENPHIEUNHAP], [MANCC]) VALUES (N'PN00001   ', N'NV01      ', CAST(N'1996-10-10 00:00:00.000' AS DateTime), 3000000, N'NCC001')
INSERT [dbo].[PHIEUNHAPSACH] ([MAPHIEU], [MANV], [NGAYNHAP], [THANHTIENPHIEUNHAP], [MANCC]) VALUES (N'PN00007   ', N'NV01      ', CAST(N'2018-05-20 22:40:15.907' AS DateTime), 4000000, N'NCC002')
INSERT [dbo].[PHIEUNHAPSACH] ([MAPHIEU], [MANV], [NGAYNHAP], [THANHTIENPHIEUNHAP], [MANCC]) VALUES (N'PN00008   ', N'NV01      ', CAST(N'2018-05-21 22:56:55.460' AS DateTime), 5000000, N'NCC001')
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong], [MANV], [Quyen]) VALUES (N'admin', N'admin', 1, N'NV01      ', 1)
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong], [MANV], [Quyen]) VALUES (N'staff', N'staff', 1, N'NV02      ', 0)
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong], [MANV], [Quyen]) VALUES (N'manager', N'manager', 1, N'NV03      ', 2)
INSERT [dbo].[SACH] ([MASACH], [MANXB], [TENSACH], [TACGIA], [THELOAI], [GIABANSACH], [GIANHAPSACH], [SLTON], [IMG], [LOAIBIA], [KICHTHUOC], [NGAYXUATBAN], [SOTRANG], [TRANGTHAI]) VALUES (N'S0001     ', N'NXB00002    ', N'Sách tập vẽ lớp 2', N'Nhiều tác giả', N'LS02      ', 100000, 50000, 10, N'https://filesandfoldersstorage.blob.core.windows.net/product-images/img871.u547.d20161110.t143203.861867.jpg', N'Bìa mềm', N'18 x 36', CAST(N'2020-07-15 00:00:00.000' AS DateTime), 520, N'Đang kinh doanh')
INSERT [dbo].[SACH] ([MASACH], [MANXB], [TENSACH], [TACGIA], [THELOAI], [GIABANSACH], [GIANHAPSACH], [SLTON], [IMG], [LOAIBIA], [KICHTHUOC], [NGAYXUATBAN], [SOTRANG], [TRANGTHAI]) VALUES (N'S0002     ', N'NXB00002    ', N'Sách giáo khoa', N'Nhiều tác giả', N'LS02      ', 10000, 50000, 10, N'https://filesandfoldertorage.blob.core.windows.net/product-images/img871.u547.d20161110.t143203.861867.jpg', N'Bìa mềm', N'18 x 36', CAST(N'2020-07-09 00:00:00.000' AS DateTime), 250, N'Đang kinh doanh')
INSERT [dbo].[SACH] ([MASACH], [MANXB], [TENSACH], [TACGIA], [THELOAI], [GIABANSACH], [GIANHAPSACH], [SLTON], [IMG], [LOAIBIA], [KICHTHUOC], [NGAYXUATBAN], [SOTRANG], [TRANGTHAI]) VALUES (N'S0004     ', N'NXB00002    ', N'Sách hoa', N'Nhàn heo', N'LS02      ', 10000, 50000, 10, N'https://filesandfoldersstorage.blob.core.windows.net/product-images/Lich-su-11-216880-2.jpg', N'Bìa mềm', N'18 x 36', CAST(N'2020-07-03 00:00:00.000' AS DateTime), 200, N'Đang kinh doanh')
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETHOADON_FK]    Script Date: 8/13/2020 12:32:52 PM ******/
CREATE NONCLUSTERED INDEX [CHITIETHOADON_FK] ON [dbo].[CHITIETHOADON]
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETHOADON2_FK]    Script Date: 8/13/2020 12:32:52 PM ******/
CREATE NONCLUSTERED INDEX [CHITIETHOADON2_FK] ON [dbo].[CHITIETHOADON]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHUCVU]    Script Date: 8/13/2020 12:32:52 PM ******/
ALTER TABLE [dbo].[CHUCVU] ADD  CONSTRAINT [PK_CHUCVU] PRIMARY KEY NONCLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CT_PHIEUNHAPSACH_FK]    Script Date: 8/13/2020 12:32:52 PM ******/
CREATE NONCLUSTERED INDEX [CT_PHIEUNHAPSACH_FK] ON [dbo].[CT_PHIEUNHAPSACH]
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CT_PHIEUNHAPSACH2_FK]    Script Date: 8/13/2020 12:32:52 PM ******/
CREATE NONCLUSTERED INDEX [CT_PHIEUNHAPSACH2_FK] ON [dbo].[CT_PHIEUNHAPSACH]
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 8/13/2020 12:32:52 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[HOADON]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 8/13/2020 12:32:52 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LOAISACH]    Script Date: 8/13/2020 12:32:52 PM ******/
ALTER TABLE [dbo].[LOAISACH] ADD  CONSTRAINT [PK_LOAISACH] PRIMARY KEY NONCLUSTERED 
(
	[MALS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 8/13/2020 12:32:52 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_11_FK]    Script Date: 8/13/2020 12:32:52 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_11_FK] ON [dbo].[NHANVIEN]
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHAXUATBAN]    Script Date: 8/13/2020 12:32:52 PM ******/
ALTER TABLE [dbo].[NHAXUATBAN] ADD  CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY NONCLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUNHAPSACH]    Script Date: 8/13/2020 12:32:52 PM ******/
ALTER TABLE [dbo].[PHIEUNHAPSACH] ADD  CONSTRAINT [PK_PHIEUNHAPSACH] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 8/13/2020 12:32:52 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[PHIEUNHAPSACH]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_SACH]    Script Date: 8/13/2020 12:32:52 PM ******/
ALTER TABLE [dbo].[SACH] ADD  CONSTRAINT [PK_SACH] PRIMARY KEY NONCLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 8/13/2020 12:32:52 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[SACH]
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH NOCHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_PHIEUDOITRA]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_PHIEUDOITRA_CHITIETHOADON] FOREIGN KEY([MAHD], [MASP])
REFERENCES [dbo].[CHITIETHOADON] ([MAHD], [MASP])
GO
ALTER TABLE [dbo].[CT_PHIEUDOITRA] CHECK CONSTRAINT [FK_CT_PHIEUDOITRA_CHITIETHOADON]
GO
ALTER TABLE [dbo].[CT_PHIEUDOITRA]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_PHIEUDOITRA_PHIEUDOITRA] FOREIGN KEY([MAPHIEUDOI])
REFERENCES [dbo].[PHIEUDOITRA] ([MAPHIEUDOI])
GO
ALTER TABLE [dbo].[CT_PHIEUDOITRA] CHECK CONSTRAINT [FK_CT_PHIEUDOITRA_PHIEUDOITRA]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPSACH]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPSACH_PHIEUNHAPSACH] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUNHAPSACH] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPSACH] CHECK CONSTRAINT [FK_CT_PHIEUNHAPSACH_PHIEUNHAPSACH]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPSACH]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPSACH_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPSACH] CHECK CONSTRAINT [FK_CT_PHIEUNHAPSACH_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH NOCHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEUDOITRA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDOITRA] CHECK CONSTRAINT [FK_PHIEUDOITRA_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPSACH]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEUNHAPSACH_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPSACH] CHECK CONSTRAINT [FK_PHIEUNHAPSACH_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPSACH]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEUNHAPSACH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPSACH] CHECK CONSTRAINT [FK_PHIEUNHAPSACH_NHANVIEN]
GO
ALTER TABLE [dbo].[QL_NguoiDung]  WITH NOCHECK ADD  CONSTRAINT [FK_QL_NguoiDung_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[QL_NguoiDung] CHECK CONSTRAINT [FK_QL_NguoiDung_NHANVIEN]
GO
ALTER TABLE [dbo].[SACH]  WITH NOCHECK ADD  CONSTRAINT [FK_SACH_LOAISACH] FOREIGN KEY([THELOAI])
REFERENCES [dbo].[LOAISACH] ([MALS])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAISACH]
GO
ALTER TABLE [dbo].[SACH]  WITH NOCHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
USE [master]
GO
